# History files
.Rhistory
.Rapp.history
.DS_Store
# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# data and figures
*.pdf
*.png
*.zip
*.pptx
*.html
*.csv
*.gz
*.gmt
*.yaml
*.gct
*.gctx
*.txt
*.gct copy
RNAseq/synapse_based_code/DMEA_Cmap_L1000/beforeFixContrast/resultsOnlyMN2/signature_comparison/Normalized_adherent_CCLE_RNAseq_19Q4_samples_in_PRISM_1-200.Rbin
RNAseq/synapse_based_code/DMEA_Cmap_L1000/beforeFixContrast/resultsOnlyMN2/signature_comparison/Normalized_adherent_CCLE_RNAseq_19Q4_samples_in_PRISM_201-327.Rbin
RNAseq/synapse_based_code/Normalized_adherent_CCLE_RNAseq_19Q4_samples_in_PRISM_approved_symbols_only_1-200.Rbin
RNAseq/synapse_based_code/Normalized_adherent_CCLE_RNAseq_19Q4_samples_in_PRISM_approved_symbols_only_201-327.Rbin
*.tsv
*.0
*.xlsx
*.svg
*.rds
*.Rbin
*.log
*.cys
/exp_1

# Exception for requirements
!*requirements.txt